<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608472292567-j2apfbhvvpqk53n24krgce9fs5761ntd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608472292567-j2apfbhvvpqk53n24krgce9fs5761ntd</string>
	<key>API_KEY</key>
	<string>AIzaSyD6FCyO6th9kLOIoD0by0CCTCKIepir6kM</string>
	<key>GCM_SENDER_ID</key>
	<string>608472292567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>viscosenpai.github.io.movementMeasure</string>
	<key>PROJECT_ID</key>
	<string>movement-measure</string>
	<key>STORAGE_BUCKET</key>
	<string>movement-measure.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608472292567:ios:4f4e67f171159d47e36492</string>
</dict>
</plist>